In [130]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

**age**: continuous. <br>
**workclass**: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. <br>
**fnlwgt**: continuous. <br>
**education**: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.<br>
**education-num**: continuous.<br>
**marital-status**: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.<br>
**occupation**: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.<br>
**relationship**: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.<br>
**race**: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.<br>
**sex**: Female, Male.<br>
**capital-gain**: continuous.<br>
**capital-loss**: continuous.<br>
**hours-per-week**: continuous.<br>
**native-country**: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.<br>

In [131]:
# Generating Column Name manually.

names=[
'age',
'workclass',
'fnlwgt',
'education',
'education-num',
'marital-status',
'occupation',
'relationship',
'race',
'sex',
'capital-gain',
'capital-loss',
'hours-per-week',
'native-country',
'target'
]
train = pd.read_csv('./data/adult.data',names=names,na_values=[' ?'])
test = pd.read_csv('./data/adult.test', names=names,na_values=[' ?'])

In [132]:
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [133]:
test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.

In [134]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workclass         15318 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education-num     16281 non-null int64
marital-status    16281 non-null object
occupation        15315 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital-gain      16281 non-null int64
capital-loss      16281 non-null int64
hours-per-week    16281 non-null int64
native-country    16007 non-null object
target            16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [135]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
target            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [136]:
test.isna().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
target              0
dtype: int64

In [137]:
train.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
target               0
dtype: int64

In [138]:
#removing the target
train.reset_index(inplace=True,drop=True)
test.reset_index(inplace=True,drop=True)

#joining both train and test data for data cleaning
train["data"]="train"
test["data"]="test"
data=pd.concat((train,test),ignore_index=True,axis=0)

In [139]:
data['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [140]:
data['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', nan, ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [141]:
data['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', nan, ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [142]:
data['workclass'].fillna('unknown',inplace=True)
data['occupation'].fillna('unknown',inplace=True)
data['native-country'].fillna('unknown',inplace=True)

In [143]:
data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
target            0
data              0
dtype: int64

In [144]:
label_encoder.fit(data['workclass'])
workclass_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['workclass'] = label_encoder.transform(data['workclass'])
workclass_mapping

{' Federal-gov': 0,
 ' Local-gov': 1,
 ' Never-worked': 2,
 ' Private': 3,
 ' Self-emp-inc': 4,
 ' Self-emp-not-inc': 5,
 ' State-gov': 6,
 ' Without-pay': 7,
 'unknown': 8}

In [145]:
label_encoder.fit(data['education'])
education_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['education'] = label_encoder.transform(data['education'])
education_mapping

{' 10th': 0,
 ' 11th': 1,
 ' 12th': 2,
 ' 1st-4th': 3,
 ' 5th-6th': 4,
 ' 7th-8th': 5,
 ' 9th': 6,
 ' Assoc-acdm': 7,
 ' Assoc-voc': 8,
 ' Bachelors': 9,
 ' Doctorate': 10,
 ' HS-grad': 11,
 ' Masters': 12,
 ' Preschool': 13,
 ' Prof-school': 14,
 ' Some-college': 15}

In [146]:
label_encoder.fit(data['marital-status'])
marital_status_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['marital-status'] = label_encoder.transform(data['marital-status'])
marital_status_mapping

{' Divorced': 0,
 ' Married-AF-spouse': 1,
 ' Married-civ-spouse': 2,
 ' Married-spouse-absent': 3,
 ' Never-married': 4,
 ' Separated': 5,
 ' Widowed': 6}

In [147]:
label_encoder.fit(data['occupation'])
occupation_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['occupation'] = label_encoder.transform(data['occupation'])
occupation_mapping

{' Adm-clerical': 0,
 ' Armed-Forces': 1,
 ' Craft-repair': 2,
 ' Exec-managerial': 3,
 ' Farming-fishing': 4,
 ' Handlers-cleaners': 5,
 ' Machine-op-inspct': 6,
 ' Other-service': 7,
 ' Priv-house-serv': 8,
 ' Prof-specialty': 9,
 ' Protective-serv': 10,
 ' Sales': 11,
 ' Tech-support': 12,
 ' Transport-moving': 13,
 'unknown': 14}

In [148]:
label_encoder.fit(data['relationship'])
relationship_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['relationship'] = label_encoder.transform(data['relationship'])
relationship_mapping

{' Husband': 0,
 ' Not-in-family': 1,
 ' Other-relative': 2,
 ' Own-child': 3,
 ' Unmarried': 4,
 ' Wife': 5}

In [149]:
label_encoder.fit(data['race'])
race_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['race'] = label_encoder.transform(data['race'])
race_mapping

{' Amer-Indian-Eskimo': 0,
 ' Asian-Pac-Islander': 1,
 ' Black': 2,
 ' Other': 3,
 ' White': 4}

In [150]:
label_encoder.fit(data['sex'])
sex_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['sex'] = label_encoder.transform(data['sex'])
sex_mapping

{' Female': 0, ' Male': 1}

In [151]:
label_encoder.fit(data['native-country'])
native_country_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
data['native-country'] = label_encoder.transform(data['native-country'])
native_country_mapping

{' Cambodia': 0,
 ' Canada': 1,
 ' China': 2,
 ' Columbia': 3,
 ' Cuba': 4,
 ' Dominican-Republic': 5,
 ' Ecuador': 6,
 ' El-Salvador': 7,
 ' England': 8,
 ' France': 9,
 ' Germany': 10,
 ' Greece': 11,
 ' Guatemala': 12,
 ' Haiti': 13,
 ' Holand-Netherlands': 14,
 ' Honduras': 15,
 ' Hong': 16,
 ' Hungary': 17,
 ' India': 18,
 ' Iran': 19,
 ' Ireland': 20,
 ' Italy': 21,
 ' Jamaica': 22,
 ' Japan': 23,
 ' Laos': 24,
 ' Mexico': 25,
 ' Nicaragua': 26,
 ' Outlying-US(Guam-USVI-etc)': 27,
 ' Peru': 28,
 ' Philippines': 29,
 ' Poland': 30,
 ' Portugal': 31,
 ' Puerto-Rico': 32,
 ' Scotland': 33,
 ' South': 34,
 ' Taiwan': 35,
 ' Thailand': 36,
 ' Trinadad&Tobago': 37,
 ' United-States': 38,
 ' Vietnam': 39,
 ' Yugoslavia': 40,
 'unknown': 41}

In [152]:

label_encoder.fit(train['target'])
target_mapping = dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_)))
train['target'] = label_encoder.transform(train['target'])
target_mapping

{' <=50K': 0, ' >50K': 1}

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 16 columns):
age               48842 non-null int64
workclass         48842 non-null int64
fnlwgt            48842 non-null int64
education         48842 non-null int64
education-num     48842 non-null int64
marital-status    48842 non-null int64
occupation        48842 non-null int64
relationship      48842 non-null int64
race              48842 non-null int64
sex               48842 non-null int64
capital-gain      48842 non-null int64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    48842 non-null int64
target            48842 non-null object
data              48842 non-null object
dtypes: int64(14), object(2)
memory usage: 6.0+ MB

In [153]:
data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
target            0
data              0
dtype: int64

In [154]:
#getting the training and testing data into the original form
train=data[data['data']=='train']
test=data[data['data']=='test']
print(train.shape,test.shape)
train.drop(['data'],axis=1,inplace=True)
test.drop(['data'],axis=1,inplace=True)
print(train.shape,test.shape)

(32561, 16) (16281, 16)
(32561, 15) (16281, 15)

In [155]:
test.shape

(16281, 15)

In [156]:
train.shape

(32561, 15)

In [157]:
train.to_csv('./data/train_preprocessed.csv')
test.to_csv('./data/test_preprocessed.csv')