In [24]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
# Load libraries
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection, preprocessing, metrics
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

In [25]:
# Generating Column Name manually.

names=[
'age',
'workclass',
'fnlwgt',
'education',
'education-num',
'marital-status',
'occupation',
'relationship',
'race',
'sex',
'capital-gain',
'capital-loss',
'hours-per-week',
'native-country',
'target'
]

df = pd.read_csv('./data/adult.csv')

In [27]:
col_names = df.columns
for c in col_names:
	df[c] = df[c].replace("?", np.NaN)

df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [28]:
df.replace(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent','Never-married','Separated','Widowed'],
             ['divorced','married','married','married','not married','not married','not married'], inplace = True)

In [29]:
labelEncoder = preprocessing.LabelEncoder()
category_col =['race','marital-status', 'gender', 'income'] 

for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])

category_col_1 =['workclass', 'education', 'occupation',
               'relationship','native-country'] 
df_2 = pd.get_dummies(df, columns=category_col_1, drop_first=True)

##unknown Attribute is removed and income class label is appended in the end
dataframe=df_2.drop('fnlwgt',1)
dataframe =dataframe[[c for c in dataframe if c not in ['income']] + ['income']]
dataframe.head(20)

,age,educational-num,marital-status,race,gender,capital-gain,capital-loss,hours-per-week,workclass_Local-gov,workclass_Never-worked,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income
0,25,7,2,2,1,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
1,38,9,1,4,1,0,0,50,0,0,...,0,0,0,0,0,0,1,0,0,0
2,28,12,1,4,1,0,0,40,1,0,...,0,0,0,0,0,0,1,0,0,1
3,44,10,1,2,1,7688,0,40,0,0,...,0,0,0,0,0,0,1,0,0,1
4,18,10,2,4,0,0,0,30,0,0,...,0,0,0,0,0,0,1,0,0,0
5,34,6,2,4,1,0,0,30,0,0,...,0,0,0,0,0,0,1,0,0,0
6,29,9,2,2,1,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
7,63,15,1,4,1,3103,0,32,0,0,...,0,0,0,0,0,0,1,0,0,1
8,24,10,2,4,0,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
9,55,4,1,4,1,0,0,10,0,0,...,0,0,0,0,0,0,1,0,0,0
10,65,9,1,4,1,6418,0,40,0,0,...,0,0,0,0,0,0,1,0,0,1
11,36,13,1,4,1,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
12,26,9,2,4,0,0,0,39,0,0,...,0,0,0,0,0,0,1,0,0,0
13,58,9,1,4,1,0,0,35,0,0,...,0,0,0,0,0,0,1,0,0,0
14,48,9,1,4,1,3103,0,48,0,0,...,0,0,0,0,0,0,1,0,0,1
15,43,14,1,4,1,0,0,50,0,0,...,0,0,0,0,0,0,1,0,0,1
16,20,10,2,4,1,0,0,25,0,0,...,0,0,0,0,0,0,1,0,0,0
17,43,9,1,4,0,0,0,30,0,0,...,0,0,0,0,0,0,1,0,0,0
18,37,9,2,4,0,0,0,20,0,0,...,0,0,0,0,0,0,1,0,0,0
19,40,16,1,1,1,0,0,45,0,0,...,0,0,0,0,0,0,1,0,0,1

In [30]:
dataframe.to_csv('adult_preprocessed.csv')

In [16]:
X = dataframe.iloc[:, 0:88].values
y = dataframe.iloc[:, 88].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
train.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [21]:
labelEncoder = preprocessing.LabelEncoder()
category_col =['race','marital-status', 'gender', 'income'] 

for col in category_col:
    train[col] = labelEncoder.fit_transform(train[col])

category_col_1 =['workclass', 'education', 'occupation','relationship','native-country'] 
df_2 = pd.get_dummies(train, columns=category_col_1, drop_first=True)

##unknown Attribute is removed and income class label is appended in the end
dataframe=df_2.drop('fnlwgt',1)
dataframe =dataframe[[c for c in dataframe if c not in ['income']] + ['income']]
dataframe.head(20)

KeyError: 'race'